<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
<!--본 프로젝트에 대한 설명-->
<!--내용 작성 미완-->
<head>
    <title>About : Improvement</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div id = "content" layout:fragment="content">
        <section id = "main_section">
            <h1>About section</h1>
            <p>안녕하세요. 저희 나무꾼 팀이 만든 목표 작성 사이트 입니다.</p>
        </section>
        <aside></aside>
    </div>
    <footer></footer>
</body>
</html>