<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
<head>
    <title>Change password : Improvement</title>
</head>
<body>
    <div id = "content" layout:fragment="content">
        <section>
            <h1>비밀번호 변경</h1><br /><hr /><br />
            <form th:action="@{/user/update}" th:method="post">
                <label>변경 전 패스워드</label>
                <input type = "password" name = "old_password"/><br /><br />
                <label>변경 후 패스워드</label>
                <input type = "password" name = "password"/><br /><br />
                <input type = "submit"/>
            </form>
        </section>
        <aside></aside>
    </div>
    <footer></footer>
</body>
</html>