<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
<head>
    <title>Login : Improvement</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <div id = "content" layout:fragment="content">
        <section id = "main_section">
            <h1>Login section</h1>
            <form th:action="@{/login}" method="post">
                <br /><hr /><br />
                <label>Email</label>
                <input type="email" name="email" placeholder="이메일을 입력하세요:)"><br /><br />
                <label>Password</label>
                <input type="password" name="password" placeholder="비밀번호를 입력하세요:)"><br /><br />
                <input type="submit" value="로그인">
                <button th:formaction="@{/join}" th:formmethod="get" th:text="회원가입"></button>
            </form>
        </section>
        <aside></aside>
    </div>
    <footer></footer>
</body>
</html>